body {
    min-height: 100%;
    background-image: url("https://images.unsplash.com/uploads/1413387158190559d80f7/6108b580?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-repeat: no-repeat;
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

h1 {
font-family: 'Fjalla One', sans-serif;
color: white;
text-shadow: 0 0 2px black;
font-size: 40px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Zilla Slab', serif;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 30px
}

h3 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Zilla Slab', serif;
    text-shadow: 0 0 2px black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
}

#increment-btn {
    background: #CA5A4B;
}

#save-btn {
    background: #F19960;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    text-shadow: 0 0 2px black;
}

.container {
    max-width:50%;
    background: #E9BC6D;
    margin: 50px auto 0px;
    padding: 10px 14px;
    border-radius: 10px;

    
}



